name: .NET Core CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '7.0.x'  # обновите до нужной версии

    - name: Restore dependencies
      run: dotnet restore ./Test.csproj

    - name: Build
      run: |
        dotnet build ./Test.csproj --configuration Release --no-restore

    - name: Build Tests
      run: |
        dotnet build ./tests/NUnitTestItem1.csproj --configuration Release --no-restore

    - name: Run Tests
      run: |
        dotnet test ./tests/NUnitTestItem1.csproj --no-build --logger "trx"
